@model IEnumerable<RestaurantManagement.Table>

@{
    ViewBag.Title = "Tables";
}

<div class="col-xs-12">
    <h2>Tables</h2>

    <p>
        @Html.ActionLink("Add Table", "Create")
    </p>
    <table class="table table-striped">
        <tr>
            <th> Seats </th>
            <th> Status </th>            
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Seats)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.TableStatus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>